global
    log stdout format raw local0
    ssl-default-bind-options ssl-min-ver TLSv1.2

defaults
    mode tcp
    log global
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend tls_coordinator
    bind :19323 ssl crt /tls/server.pem
    default_backend tls_coordinator_backend

backend tls_coordinator_backend
    server coordinator tls-coordinator:9123 check

frontend tls_tablet_0
    bind :19324 ssl crt /tls/server.pem
    default_backend tls_tablet_0_backend

backend tls_tablet_0_backend
    server tablet tls-tablet-0:9123 check

frontend tls_tablet_1
    bind :19325 ssl crt /tls/server.pem
    default_backend tls_tablet_1_backend

backend tls_tablet_1_backend
    server tablet tls-tablet-1:9123 check

frontend tls_tablet_2
    bind :19326 ssl crt /tls/server.pem
    default_backend tls_tablet_2_backend

backend tls_tablet_2_backend
    server tablet tls-tablet-2:9123 check

frontend tls_sasl_coordinator
    bind :19423 ssl crt /tls/server.pem
    default_backend tls_sasl_coordinator_backend

backend tls_sasl_coordinator_backend
    server coordinator tls-sasl-coordinator:9123 check

frontend tls_sasl_tablet
    bind :19424 ssl crt /tls/server.pem
    default_backend tls_sasl_tablet_backend

backend tls_sasl_tablet_backend
    server tablet tls-sasl-tablet:9123 check

frontend canceled_handshake
    bind :19327
    default_backend canceled_handshake_backend

backend canceled_handshake_backend
    timeout connect 30s
    server stall 192.0.2.1:65000
